.modal-body{
    align-self: center;
    align-items: center;
    width: 1080px;
    background-color:#1d2e4d;
}
.modal-header{
    width: 1080px;
    max-height: 50px;
    background-color:#192231 ;
    align-self: center;
}

.btn-close{
    padding-top: 0px;
    margin-bottom: 1px;
    margin-right: -7px;
}

.x{
    font-family: monospace;
    color: white;
    padding-top: 0px;
    font-size: 20px;
    font-weight: bold;
}

video{
    align-self: center;
}

.body{
    background-size:auto;
    background-blend-mode:soft-light;
    background-image: url(/assets/immagini/texture.jpg);
    background-color: rgb(64, 101, 141);
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    min-height: 700px;
    max-height:fit-content;
}

.container{
    padding: 50px;
    padding-top: 50px;
}

.colonne{
    text-align: left;
    list-style-type: none;
    align-items: left;
    vertical-align: middle;
}

.l1{
    padding-left: 30px;
    display:block;
    float:left;
}

.l2{
    font-size: 18px;
    padding-bottom: 50px;
    font-weight: bold;
    color:gold;
}

button{
    background: none;
    border: 0px;
    color:white;
    font-size: 16px;
}

.list{
    padding-left: 10px;
    list-style-type: none;
    color: white;
    font-size: 16px;
    line-height: 25px;
}

.list2{
    padding-left: 330px;
    list-style-type: none;
}

.list2 li{
    color: white;
    margin-left: 40px;
    margin-right: -20px;
    padding-left: 5px;
    padding-right: 70px;
    padding-top: 5px;
    padding-bottom: 2px;
    line-height: 20px;
    display:block;
    float:left;
    border: 2px solid gold;
}

u{
    padding-left: 700px;
    color: #143666;
    font-size: 14px;
}

.d{
    line-height: 50px; 
    padding-top: 170px; 
    padding-right: 450px;
    color: white;
    font-size: 16px;
}

.type{
    color: gold;
    padding-right: 18px;
}

.hidden{
    visibility: hidden;
}

.gold{
    color: gold;
}

.blue{
    color: #143666;
}

.pt1{
    padding-top: 30px;
}

.pt2{
    padding-top: 200px;
}

.pl0{
    padding-left: 0px;
}

.day{
    padding-top: 150px;
    padding-left: 80px;
    color: white;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
}

.list3{
    list-style-type: none;
    margin-bottom: 20px;
}

.list3 li{
    color: white;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 70px;
    padding-top: 5px;
    padding-bottom: 2px;
    line-height: 20px;
    display:block;
    float:left;
    border: 2px solid gold;
    margin-left: 20px;
}

.sList{
    list-style-type: none;
}