.body{
    background-color: #6d8ac6;
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    min-height: 700px;
    max-height:fit-content;
}

.container{
    padding: 50px;
    padding-top: 50px;
}

.colonne{
    text-align: left;
    list-style-type: none;
    align-items: left;
    vertical-align: middle;
}

.l1{
    padding-left: 30px;
    display:block;
    float:left;
}

.l2{
    padding-bottom: 50px;
    font-weight: bold;
    color:gold;
}

button{
    background: none;
    border: 0px;
    color:white;
    font-size: 16px;
}

.list{
    padding-left: 10px;
    list-style-type: none;
    color: white;
    font-size: 16px;
    line-height: 25px;
}

.list2{
    margin-top: 200px;
    list-style-type: none;
}

.list2 li{
    color: white;
    margin-left: 40px;
    margin-right: -20px;
    padding-left: 5px;
    padding-right: 70px;
    padding-top: 5px;
    padding-bottom: 2px;
    line-height: 20px;
    display:block;
    float:left;
    border: 2px solid gold;
}

u{
    padding-left: 700px;
    color: #143666;
    font-size: 14px;
}

.d{
    line-height: 50px; 
    padding-top: 60px; 
    padding-right: 130px;
    color: white;
    font-size: 16px;
}

.type{
    color: gold;
    padding-right: 18px;
}

.hidden{
    visibility: hidden;
}