<div class="body">
    <div class="container">
        
        <ul class="colonne"><li class="l1">
        <img src="/assets/immagini/img.jpg" alt="copertina" height="250px" width="175px" style="padding-left:0px;"/>
        </li>
        <li class="l1"><button type="button" style="padding-top: 200px;"><img src="/assets/immagini/icon.png" alt="trailer" height="50px" width="50px"></button></li>
    <li class="l1">
        <ul class="list"> <li class="l2">*TITOLO*</li>
            <li>Genere</li>
            <li>Regia</li>
            <li>Cast</li> 
            <li>Durata</li>

            <li>
                <ul class="list2">
                    <li style="margin-left: 0px;">17:30
                        <div style="color:yellow;">2D</div></li><li>19:30
                        <div style="color:yellow;">2D</div></li><li>20:30
                        <div style="color:yellow;">2D</div></li>
                </ul>
            </li>
            <li><p style="padding-top: 50px;">OGGI</p></li>
            <li><button type="button" style="padding-top: 150px;"><span style="color:yellow;">+</span>MOSTRA GLI ORARI DI TUTTI I GIORNI</button></li>
        </ul></li><li><u>scheda film</u></li>
   </ul>
   

    </div>
</div>
