<div class="body">
    <div class="container" *ngFor="let film of filmList;">
        
        <ul class="colonne">
        <li class="l1">
        <img src={{film.image_poster}} alt="copertina" height="250px" width="175px" style="padding-left:0px;"/>
        </li>
        <li class="l1"><button type="button" style="padding-top: 200px;"><img src="/assets/immagini/icon1.png" alt="trailer" height="50px" width="50px"></button></li>
        <li class="l1">
        <ul class="list">
            <li class="l2">{{film.title}}</li>
             <li>Genere <span style="color:gold;">{{film.genres.names[0].name}}<!--, <span *ngIf="film.genres.names[1].name;">{{film.genres.names[1].name}}</span>--></span></li>  
            <li>Regia <span style="color:#143666;">{{film.info_director}}</span></li>
            <li>Cast <span style="color:#143666;" >{{limit(film.info_cast,20)}}...</span></li> 
            <li>Durata <span style="color:#143666;">{{film.info_runningtime}}</span></li>

            <li>
                <ul class="list2">
                    <li style="margin-left: 0px;">17:30
                        <div style="color: gold;">2D</div></li><li>19:30
                        <div style="color:gold;">2D</div></li><li>20:30
                        <div style="color:gold;">2D</div></li>
                </ul>
            </li>
            <li><p style="line-height: 50px;">OGGI <span style="color:gold;">{{limit(today.toString(),15)}}</span></p></li>
            </ul></li>
        </ul>
    <button type="button" style="padding-top: 300px;"><u>scheda film</u></button>
   <button type="button" style="padding-top: 50px;"><span style="color:gold;">+</span>MOSTRA GLI ORARI DI TUTTI I GIORNI</button>
    </div>
</div>
