<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="utf-8">
        <title>Cinemedia</title>
    </head>
    <body>
        <ul class="colonne">
        <li>
            <ul class="colonne">
              <li class="li1" style="margin-top:-20px;"><img src="nome.png" alt="logo" width="140" height="140"></li>
              <li class="li1" style="margin-top:25px;"><img src="logo.png" alt="logo" width="50" height="50"></li>
            </ul>
        </li>
        <li>
            <ul class="colonne"><li class="li2" style="margin-top:25px;"><button type="button" style="padding:0px; border:0px;"><img src="icon.png" alt="Search button" width="50" height="50"></button></li>
              <li class="li2" style="margin-top:30px;"><button type="button">LOG IN</button></li>
              <li class="li2">AL CINEMA</li>
            </ul>
        </li>
        </ul>
    </body>
</html>
