<!DOCTYPE html>
<html lang="it">
    <head>
        <title>Cinemedia</title>
        <meta charset="utf-8">
        <link href="footer.component.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="nome_annoCreazione">CINEMEDIA 2022</div>
        <table align="center">
            <tr>
                <td>
                    <img id="nomeApp" src="immaginiFooter/nome.png" alt="nome dell'app">
                </td>
                <td>
                    <img id="logoApp" src="immaginiFooter/logo.png" alt="logo dell'app">
                </td>
            </tr>
        </table>
        <br><br>
        <table align="center">
            <tr>
                <td>
                    <img id="logoApp" src="immaginiFooter/logo.png" alt="logo dell'app">
                </td>
                <td>
                    <div class="nome">Cinemedia</div>
                </td>
            </tr>
        </table>
    </body>
</html>