.modal-body{
    align-self: center;
    align-items: center;
    width: 1080px;
    background-color:#1d2e4d;
}
.modal-header{
    width: 1080px;
    max-height: 50px;
    background-color:#192231 ;
    align-self: center;
}

.btn-close{
    padding-top: 0px;
    margin-bottom: 1px;
    margin-right: -7px;
}

.x{
    font-family: monospace;
    color: white;
    padding-top: 0px;
    font-size: 20px;
    font-weight: bold;
}

video{
    align-self: center;
}


.icon{
    margin-right: 150px;
    margin-top: 150px;
}

.img{
    box-shadow: 0 0 50px rgba(255,255,255,0.3);
}

.body{
    min-height: 700px;
    align-content: center;
    font-family: sans-serif;
    background-color: #304050;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-blend-mode:overlay;
    color: white;
    text-align: center;
    min-width: 920px;
    max-width: 100%;
    padding-bottom: 200px;
}

.container{
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.mainL{
    list-style-type: none;
    padding-left: 0px;
    padding-top: 20px;
}

.liM{
    display: block;
    float: left;
}

.noL{
    padding-left: 20px;
    display:block;
    list-style-type: none;
    text-align: left;
}

.littleL{
    display: block;
    list-style-type: none;
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
}

.l{
    color: grey;
    padding-bottom: 5px;
}

.t{
    padding-bottom: 10px;
    font-size: 30px;
    max-width: 480px;
}

.g{
    color: grey;
    padding-bottom: 30px;
}

.u{
    padding-top: 30px;
    padding-bottom: 30px;
}

.b{
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    padding-left: 0px;
    padding-right: 0px;
}

.bb{
    background: none;
    border: none;
    color: white;
    font-size: 14px;
    font-size: 23px;
    border: 3px solid gold;
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 300px;
}

.tr{
    max-width: 480px;
}

.list3{
    list-style-type: none;
    margin-bottom: 10px;
}

.list3 li{
    color: white;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 70px;
    padding-top: 5px;
    padding-bottom: 2px;
    line-height: 20px;
    display:block;
    float:left;
    border: 2px solid gold;
    margin-left: 20px;
}

.sList{
    list-style-type: none;
}

.day{
    padding-top: 150px;
    padding-left: 80px;
    color: white;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
}

.type{
    color: gold;
    padding-right: 18px;
}

@keyframes glowing{
    from{ box-shadow: 0 0 0px rgba(220, 180, 50, 0.8); 
    text-shadow: 0 0 1px white;}
    to{ box-shadow: 0 0 40px rgba(240, 180, 50, 0.8);
    text-shadow: 0 0 2px white;}
}

.bb:hover{
    animation: glowing 800ms forwards;
}