<div class="body">
    <div class="container">
    <ul class="mainL">
        <li class="liM"><button type="button" class="b"><img src="/assets/immagini/icon1.png" alt="Trailer" height="70px" width="70px" class="icon" /></button></li>
        <li class="liM">
            <img src="..." alt="Copertina" height="250px" width="170px" class="img"/>
            <br>
            <ul class="littleL">
            <li><b>Data di uscita</b></li>
                <li class="l">poi</li>
            <li><b>Durata</b></li>
                <li class="l">metto</li>
            <li><b>Regia</b></li>
                <li class="l">tutto</li>
            <li><b>Cast</b></li>
                <li class="l">giuro</li></ul>
            
        
        </li>
        <li class="liM">
            <ul class="noL">
            <li class="t">{{id}}</li>
            <li class="g">Generi</li>
            <li>Trama</li>
            <li class="u"><button type="button" class="b"><u>Leggi tutto</u></button></li>
                <li class="g">Spettacoli in programmazione del {{limit(today.toString(),15)}}</li>
            <li><button type="button" class="bb">Vedi gli orari di tutti i giorni</button></li>
            </ul>
        </li>
        </ul>
    </div></div>