<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel"> 
  <div class="carousel-indicators" *ngIf="film.image_hero && film.title">
    <button type="button" data-bs-target="#carouselExampleIndicators" [attr.data-bs-slide-to]="filmList.length" class="active" aria-current="true" aria-label="Copertine film"></button>
  </div>
  <div class="carousel-inner" *ngIf="film.image_hero && film.title">
    <div class="carousel-item active">
      <div id="titoloDelFilm">
        {{film.title}}
      </div>
      <img src="{{film.image_hero}}" class="d-block w-100" alt="Copertina del film">
    </div>
  </div>
</div>