img
{
    height: 500px;
}

#titoloDelFilm
{
    background-color: gold;
    min-height: auto;
    text-align: center;
    font-family: "Chilanka";
    font-weight: bold;
    font-style: italic;
    color: blue;
    font-size: 50px;
}