img
{
    height: 500px;
}

#titoloDelFilm
{
    position: absolute;
    bottom: 30px;
    right: 16px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: rgba(0, 8, 16, 0.548);
    min-height: auto;
    font-family: "sans-serif";
    color: rgb(255, 254, 247);
    font-weight: bold;
    font-size: 40px;
    text-align: right;
}