<div *ngFor="let film of filmList; let k = index" id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators" *ngIf="film.image_poster && film.title && film.info_director && film.info_cast && film.info_runningtime">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="se" class="active" aria-current="true" aria-label="Copertine film"></button>
  </div>
  <div class="carousel-inner" *ngIf="film.image_poster && film.title && film.info_director && film.info_cast && film.info_runningtime">
    <div class="carousel-item active" data-bs-interval="setTimeout()">
      <div id="titoloDelFilm">
        {{film.title}}
      </div>
      <img src="{{film.image_hero}}" class="d-block w-100" alt="Copertina del film">
    </div>
  </div>
</div>