
    <div class="body">
        <div id="nome_annoCreazione">CINEMEDIA 2022</div>
        <table align="center">
            <tr>
                <td>
                    <img id="nomeApp" src="/assets/immagini/nome.png" alt="nome dell'app">
                </td>
                <!-- <td>
                    <img id="logoApp" src="/assets/immagini/logo.png" alt="logo dell'app">
                </td> -->
            </tr>
        </table>
        <br><br>
        <table align="center">
            <tr>
                <td>
                    <img id="logoApp" src="/assets/immagini/logo.png" alt="logo dell'app">
                </td>
                <td>
                    <div class="nome">Cinemedia</div>
                </td>
            </tr>
        </table>
    </div>