<table>
    <tr>
        <td id="margine">
            <!--Spazio per il colore di sfondo-->
        </td>
        <td>
            <!--Scegli il cinema-->
            <label id="cinema" for="exampleDataList" class="form-label">CINEMA</label>
            <input class="form-control" list="datalistOptions" id="cinema" placeholder="Acireale" disabled>
        </td>
        <td>
            <!--Scegli un film o un Extra-->
            <label for="exampleDataList" class="form-label">FILM EXTRA</label>
            <input class="form-control" list="listaFilmExtra" id="filmExtra" placeholder="Scegli un film o un Extra" onkeyup="gestioneInput()">
            <datalist id="listaFilmExtra">
                <div *ngFor="let film of filmList">
                    <option id="listaDeiFilmExtra" value="{{film.title}}">
                </div>
            </datalist>
        </td>
        <td>
            <!--Scegli la data-->
            <label for="exampleDataList" class="form-label">DATA</label>
            <input class="form-control" list="listaDate" id="inputData" placeholder="Scegli la data" disabled>
            <datalist id="listaDate">
                <div *ngFor="let film of filmList">
                    <div *ngFor="let show of film.showings">
                        <option value="{{show.date_time}}">
                    </div>
                </div>
            </datalist>
        </td>
        <td>
            <!--Scegli l'orario-->
            <label for="exampleDataList" class="form-label">ORARIO</label>
            <input class="form-control" list="listaOrari" id="inputOra" placeholder="Scegli l'orario" disabled>
            <datalist id="listaOrari">
                <div *ngFor="let film of filmList">
                    <div *ngFor="let show of film.showings">
                        <div *ngFor="let time of show.times">
                            <option value="{{time.time}}">
                        </div>
                    </div>
                </div>
            </datalist>
        </td>
        <td>
            <!--Pulsante cerca-->
            <button id="pulsante" type="button" class="btn btn-primary" onclick="avanti()" disabled>CERCA</button>
        </td>
    </tr>
</table>