p{
    margin-top: 15px;
background-color: gold;
min-width: 15px;
min-height: 70px;
color: gold;
margin-right: 10px;
}
    
tr{
    background-color: rgb(14, 48, 92);
}

.form-control{
    color: white;
    margin-bottom: 15px;
    background-color: rgb(41, 64, 102);
    margin-right: 5px;
}

.form-label{
    margin-top: 15px;
    font-style: normal;
}

table
{
    width: 100%;
    color: rgb(255, 227, 67);
}

input
{
    font-size: 14px;
}

#data
{
    width: 135px;
}

#ora
{
    width: 135px;
    margin-right: 20px;
}

#filmExtra
{
    width: 300px;
}

#cinema
{
    width: 135px;
}

button
{
    font-size: 20px;
    border-radius: 15px;
    background-color: rgb(226, 198, 38);
    border-color: gold;
    font-weight: bold;
}

label
{
    font-weight: bold;
    font-style: italic;
}

button:hover
{
    font-weight: bold;
    color: gold;
    background-color: rgb(14, 48, 92);
}

input::placeholder
{
    color: rgb(125, 137, 151);
}

.p1{
    margin-top: 15px;
background-color: gold;
min-width: 25px;
max-width: 25px;
min-height: 70px;
color: gold;
margin-left: 50px;
margin-right: -10px;
}